<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Navn' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email, 'E-post' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone, 'Telefon' %>
    <%= f.text_field :phone, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Lagre', class: 'btn btn-primary' %>
    <%= link_to 'Tilbake', users_path, class: 'btn btn-default' %>
  </div>
<% end %>
