<%= form_for(@member) do |f| %>

    <div class="actions pull-right">
      <%= f.submit 'Lagre', class: 'btn btn-primary' %>
      <%= link_to('Faktura', {controller: 'members', action: 'faktura', id: @member.id},
              class: 'btn btn-success') unless @member.new_record? %>
    </div>

    <h1>
      <% if @member.new_record? %>
          Innmelding
      <% else %>
          <h1>Medlem</h1>
      <% end %>
    </h1>

    <% if @member.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@member.errors.count, "error") %> prohibited this
            member from being saved:</h2>

          <ul>
            <% @member.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :name, 'Navn' %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :address, 'Adresse' %><br>
          <%= f.text_field :address, class: 'form-control' %>
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <div class="form-group">
              <%= f.label :postal_code, 'Postnummer' %><br>
              <%= f.text_field :postal_code, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group col-sm-8">
            <div class="form-group">
              <%= f.label :post_office, 'Poststed' %><br>
              <%= f.text_field :post_office, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <%= f.label :birthdate, 'Fødselsdato' %><br>
            <%= f.text_field :birthdate, class: 'date form-control' %>
          </div>
          <div class="form-group col-sm-6">
            <%= f.label :female, 'Kjønn' %><br>
            <%= f.select :female, [['Jente', true], ['Gutt', false]], {}, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <fieldset>
          <legend>Foresatt 1</legend>
          <div class="form-group">
            <%= f.label :guardian_1, 'Navn' %>
            <%= f.text_field :guardian_1, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :guardian_1_email, 'E-post' %>
            <%= f.text_field :guardian_1_email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :guardian_1_mobile, 'Telefon' %>
            <%= f.text_field :guardian_1_mobile, class: 'form-control' %>
          </div>
        </fieldset>

        <fieldset>
          <legend>Foresatt 2</legend>
          <div class="form-group">
            <%= f.label :guardian_2, 'Navn' %>
            <%= f.text_field :guardian_2, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :guardian_2_email, 'E-post' %>
            <%= f.text_field :guardian_2_email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :guardian_2_mobile, 'Telefon' %>
            <%= f.text_field :guardian_2_mobile, class: 'form-control' %>
          </div>
        </fieldset>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :joined_on, 'Innmeldingsdato' %><br>
              <%= f.text_field :joined_on, class: 'form-control date' %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :left_on, 'Utmeldingsdato' %><br>
              <%= f.text_field :left_on, class: 'date form-control' %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :email, 'E-post' %><br>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :mobile, 'Mobiltelefon' %><br>
              <%= f.text_field :mobile, class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :phone, 'Fasttelefon' %><br>
              <%= f.text_field :phone, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
