<h1>Listing members</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Birthdate</th>
      <th>Left on</th>
      <th>Postal code</th>
      <th>Post office</th>
      <th>Guardian 1</th>
      <th>Guardian 2</th>
      <th>Joined on</th>
      <th>Female</th>
      <th>Email</th>
      <th>Guardian 1 email</th>
      <th>Guardian 2 email</th>
      <th>Mobile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.address %></td>
        <td><%= member.birthdate %></td>
        <td><%= member.left_on %></td>
        <td><%= member.postal_code %></td>
        <td><%= member.post_office %></td>
        <td><%= member.guardian_1 %></td>
        <td><%= member.guardian_2 %></td>
        <td><%= member.joined_on %></td>
        <td><%= member.female %></td>
        <td><%= member.email %></td>
        <td><%= member.guardian_1_email %></td>
        <td><%= member.guardian_2_email %></td>
        <td><%= member.mobile %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
