<%= mail_to @emails.join(','), 'Send e-post', subject: '[Voice] ', body: "Hei!\n\n", class: 'navbar-left navbar-btn btn btn-primary pull-right' %>

<h1>Medlemmer (<%= @members.size %>)</h1>

<table class="table table-condensed table-hover table-striped">
  <thead>
  <tr>
    <th>Medlems-nummer</th>
    <th>Navn / Adresse</th>
    <th>Alder</th>
    <!--<th>Mobil</th>-->
    <% if @show_phone %>
        <th>Telefon</th>
    <% end %>
    <th>Innmeldt dato</th>
    <% if @left %>
        <th>Utmeldt dato</th>
    <% end %>
    <!--<th>E-post</th>-->
    <th>Foresatt 1</th>
    <% if @show_guardian_2 %>
        <th>Foresatt 2</th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @members.each do |member| %>
      <tr onclick="window.location = '<%=edit_member_path(member)%>'" style="cursor: pointer">
        <td><%= member.id %></td>
        <td>
          <%= member.name %><br/>
          <%= member.address %><br/>
          <%= member.postal_code %> <%= member.post_office %>
        </td>
        <td>
          <%= member.female ? 'Jente' : 'Gutt' %>
          <% if member.birthdate %>
              <%= member.age %> år<br/>
              <%= member.birthdate %>
          <% end %>
        </td>
        <!--<td><%= member.mobile %></td>-->
        <% if @show_phone %>
            <td><%= member.phone %></td>
        <% end %>
        <td><%= member.joined_on %></td>
        <% if @left %>
            <td><%= member.left_on %></td>
        <% end %>
        <!--<td><%= member.email %></td>-->
        <td><%= member.guardian_1 %><br/>
          <%= member.guardian_1_mobile %><br/>
          <%= mail_to member.guardian_1_email, nil, subject: '[Voice] ' %></td>
        <% if @show_guardian_2 %>
            <td>
              <%= member.guardian_2 %><br/>
              <%= member.guardian_2_mobile %><br/>
              <%= mail_to member.guardian_2_email %>
            </td>
        <% end %>
        <!--<td><%= link_to 'Show', member %></td>-->
        <!--<td><%= link_to 'Edit', edit_member_path(member) %></td>-->
        <!--<td><%= link_to 'Destroy', member, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Member', new_member_path %>-->
