<p id="notice"><%= notice %></p>

<p>
  <strong>Navn:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @member.address %>
</p>

<p>
  <strong>Fødselsdato:</strong>
  <%= @member.birthdate %>
</p>

<p>
  <strong>Utmeldingsdato:</strong>
  <%= @member.left_on %>
</p>

<p>
  <strong>Postnummer:</strong>
  <%= @member.postal_code %>
</p>

<p>
  <strong>Poststed:</strong>
  <%= @member.post_office %>
</p>

<p>
  <strong>Foresatt 1:</strong>
  <%= @member.guardian_1 %>
</p>

<p>
  <strong>Foresatt 2:</strong>
  <%= @member.guardian_2 %>
</p>

<p>
  <strong>Innmeldingsadato:</strong>
  <%= @member.joined_on %>
</p>

<p>
  <strong>Kjønn:</strong>
  <%= @member.female ? 'Jente' : 'Gutt' %>
</p>

<p>
  <strong>E-post:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Foresatt 1 e-post:</strong>
  <%= @member.guardian_1_email %>
</p>

<p>
  <strong>Foresatt 2 e-post:</strong>
  <%= @member.guardian_2_email %>
</p>

<p>
  <strong>Mobiltelefon:</strong>
  <%= @member.mobile %>
</p>

<%= link_to 'Rediger', edit_member_path(@member), class: 'btn btn-primary' %> |
<%= link_to 'Medlemsliste', members_path, class: 'btn btn-default' %>
<%= link_to 'Faktura', {controller: 'members', action: 'faktura', id: @member.id}, class: 'btn btn-danger' %> |
